{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a feedback form</title>
    <link rel="stylesheet" href="{% static 'review/styles.css' %}">
</head>

<body>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>

</html>